@import "uikit/uikit.less";

@icon-font-path: "../../../../app/assets/uikit/fonts";
@global-image-path: '../less/uikit/images';

@global-font-path: "../less/uikit/fonts";



// Name:            Container
// Description:     Component to align and center your site and grid content
//
// Component:       `uk-container`
//
// Modifier:        `uk-container-small`
//                  `uk-container-large`
//                  `uk-container-expand`
//
// ========================================================================


// Variables
// ========================================================================

@container-max-width:                   1200px;
@container-small-max-width:             900px;
@container-large-max-width:             1600px;

@container-padding-horizontal:          15px;
@container-padding-horizontal-s:        @global-gutter;
@container-padding-horizontal-m:        @global-medium-gutter;

// Headerbar
@theme-headerbar-padding-horizontal:                30px;
@theme-headerbar-padding-large-horizontal:          80px;

//
// Footer
//

@theme-footer-fixed-height:                     450px;
@theme-footer-height:                           60px;
@theme-footer-padding-vertical:                 45px;
@theme-footer-padding-large-vertical:           95px;

@theme-footer-totop-size:                       40px;
@theme-footer-totop-color:                      fade(@global-primary-color, 60%);//fadein(@global-muted-color, 50%);//fade(@global-secondary-color, 60%);
@theme-footer-totop-hover-color:                @global-secondary-highlight-color;
@theme-footer-totop-active-color:               @global-primary-color;

//
// Icon
//

@icon-hover-color:                              @global-highlight-color;




@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      40px;
@global-grid-gutter-small:                      15px;
@global-primary-color:                          @global-link-color;
@global-primary-link-color:                     #675642;

@global-primary-muted-color:                    fade(saturate(darken(@global-primary-link-color, 10%), 10%), 70%);
@global-primary-highlight-color:                #181822;

@global-theme-icon-font-family:                 'theme-icons'; 
@global-transition:                             all 0.12s ease-in-out;

// Theme variables
// ========================================================================

//
// uk-container (content wrapper) widths
//

@utility-container-max-width:                   980px;
@utility-container-large-max-width:             1200px;

//
// Body & Block Backgrounds
//

@theme-body-background:                         @global-secondary-background;

// Block
@theme-block-divider-icon:                          "";
@theme-block-divider-left:                          50%;
@theme-block-divider-width:                         100px;
@theme-block-divider-large-width:                   150px;
@theme-block-divider-height:                        1px;
@theme-block-divider-background:                    @global-border;
@theme-block-primary-divider-background:            @global-contrast-color;
@theme-block-secondary-divider-background:          @global-border;
@theme-block-divider-font-size:                     @theme-block-divider-height;
@theme-block-divider-color:                         rgba(0,0,0,0);
@theme-block-primary-divider-color:                 rgba(0,0,0,0);
@theme-block-secondary-divider-color:               rgba(0,0,0,0);

//
// Header Offset for Fullscreen
//

// Offset for default navbar ((100px * 2) + (40px * 2)) = ((height * 2) + (border * 2))
@theme-header-offset:                           round((@theme-navbar-container-height * 2) + (@global-grid-gutter-large * 2));

// Offset for centered navbar ((130px * 2) + (40px * 2) + (15px * 2)) = ((height * 2) + (border * 2) + (padding * 2))
@theme-header-centered-offset:                  round((@theme-navbar-centered-container-height * 2) + (@global-grid-gutter-large * 2) + (@global-grid-gutter-small * 2));

// Offset for small navbar ((80px * 2) + (15px * 2)) = ((height * 2) + (border * 2))
@theme-header-offset-small:                     round((@theme-navbar-container-height-small * 2) + (@global-grid-gutter-small * 2));

//
// Navbar
//

@theme-navbar-gutter:                           @global-grid-gutter; // 25px
@theme-navbar-gutter-large:                     @global-grid-gutter-large; // 40px
@theme-navbar-gutter-small:                     @global-grid-gutter-small; // 15px
@navbar-nav-item-height:                        80px;
@navbar-nav-item-padding-horizontal:            15px;
@navbar-color-mode:                             none;

@theme-navbar-container-height:                 @navbar-nav-height; // 100px (navbar.less)
@theme-navbar-container-sticky-height:          (@theme-navbar-container-height + (@global-grid-gutter-large * 2)); // 100 + 2*40 = 180px
@theme-navbar-container-height-small:           80px; // navbar height for small view ports
@theme-navbar-container-sticky-height-small:    (@theme-navbar-container-height-small + (@global-grid-gutter-small * 2)); // 80 + 2*15 = 110px

@theme-navbar-centered-container-height:        130px; // height value for "tm-navbar-centered" modifier when layouts/header.centered.php is active
@theme-navbar-centered-container-sticky-height: (@theme-navbar-centered-container-height + (@global-grid-gutter-large * 2)); // 130 + 2*40 = 210px

@theme-navbar-nav-centered-height:              50px; // reducing the item heights when navbar is centered

@theme-navbar-centered-dropdown-navbar-margin:  0;

@theme-navbar-icon:                             "\e900";
@theme-navbar-icon-size:                        24px;
@theme-navbar-icon-color:                       @global-contrast-color;
@theme-navbar-icon-hover-color:                 fade(@theme-navbar-icon-color, 70%);
@theme-navbar-icon-click-color:                 @global-primary-color;
@theme-navbar-button-width:                     35px;
@theme-navbar-button-height:                    35px;
@theme-navbar-dropdown-background:              @navbar-background; // (navbar.less)
@theme-navbar-dropdown-width:                   200px;
@theme-navbar-icon-search:                      "\e036";
@theme-navbar-icon-more:                        "\e900";
@theme-navbar-icon-login:                       "\e2c0";

@navbar-dropdown-grid-gutter-horizontal:        @global-gutter;
@navbar-dropdown-grid-gutter-vertical:          @navbar-dropdown-grid-gutter-horizontal;

@navbar-dropdown-dropbar-margin-bottom:         30px;
@navbar-dropdown-nav-divider-border:            @global-border;

@theme-navbar-more-color:                       @global-muted-color;
@theme-navbar-more-hover-background:            @button-background;
@theme-navbar-more-hover-color:                 @global-muted-color;
@theme-navbar-more-active-background:           @button-hover-background;
@theme-navbar-more-active-color:                @global-color;


//
// Additions
// 

@theme-fixed-bar-width:                         60px;

// 'tm-address-horizontal' for <address></address>
@theme-address-horizontal-label-width:                          100px;
@theme-address-horizontal-data-margin:                          100px;
@theme-address-horizontal-label-font-size:                      @global-ui-font-size;
@theme-address-horizontal-label-color:                          @global-highlight-color;

// 'tm-dotnav-follower'
@theme-dotnav-active-background:                @dotnav-active-background; 

@theme-smoothscroll-bar-width:                 (@dotnav-width + (@dotnav-border-width * 2)); 

//
// Avanti Grid
//

@theme-badge-muted-background:                  @global-light-background;
@theme-badge-muted-color:                       @global-highlight-color;
@theme-grid-divider-border:                     @grid-divider-border;



/* Layout
 ========================================================================== */

//
// Blocks
//

// Adjust padding between equally colored blocks
.uk-block-default:not(.tm-block-padding-collapse) + .uk-block-default:not(.tm-block-divider),
.uk-block-muted:not(.tm-block-padding-collapse) + .uk-block-muted:not(.tm-block-divider),
.uk-block-primary:not(.tm-block-padding-collapse) + .uk-block-primary:not(.tm-block-divider),
.uk-block-secondary:not(.tm-block-padding-collapse) + .uk-block-secondary:not(.tm-block-divider) { padding-top: 0; }

// Add padding to article, if main top or main bottom are published
.tm-main-top + .tm-content,
.tm-content + .tm-main-bottom {

    padding-top:  @grid-gutter-vertical;

    // Large screen
    @media (min-width: @breakpoint-xlarge) { padding-top:  @grid-gutter-large-vertical; }

}

// Block padding collapse
.tm-block-padding-collapse {
    padding-top: 0;
    padding-bottom: 0;
}

// Block divider

.tm-block-divider { position: relative; }

.tm-block-divider:before {
    content: @theme-block-divider-icon;
    position: absolute;
    top: -(@theme-block-divider-height / 2);
    left: @theme-block-divider-left;
    margin-left: -(@theme-block-divider-width / 2);
    width: @theme-block-divider-width;
    height: @theme-block-divider-height;
    background: @theme-block-divider-background;
    font-family: 'Chester Divider';
    font-size: @theme-block-divider-font-size;
    line-height: @theme-block-divider-font-size;
    color: @theme-block-divider-color;

    // Large screen and bigger
    @media (min-width: @breakpoint-xlarge) {
        margin-left: -(@theme-block-divider-large-width / 2);
        width: @theme-block-divider-large-width;
    }

}

.uk-block-primary.tm-block-divider:before {
    background: @theme-block-primary-divider-background;
    color: @theme-block-primary-divider-color
}

.uk-block-secondary.tm-block-divider:before {
    background: @theme-block-secondary-divider-background;
    color: @theme-block-secondary-divider-color;
}
 


 
/* ========================================================================
   Component: Container
 ========================================================================== */

/*
 * 1. Box sizing has to be `content-box` so the max-width is always the same and
 *    unaffected by the padding on different breakpoints. It's important for the size modifiers.
 */

.uk-container {
    box-sizing: content-box; /* 1 */
    max-width: @container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: @container-padding-horizontal;
    padding-right: @container-padding-horizontal;
}

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {

    .uk-container {
        padding-left: @container-padding-horizontal-s;
        padding-right: @container-padding-horizontal-s;
    }

}

/* Tablet landscape and bigger */
@media (min-width: @breakpoint-medium) {

    .uk-container {
        padding-left: @container-padding-horizontal-m;
        padding-right: @container-padding-horizontal-m;
    }

}

/*
 * Micro clearfix
 */

.uk-container::before,
.uk-container::after {
    content: "";
    display: table;
}

.uk-container::after { clear: both; }

/*
 * Remove margin from the last-child
 */

.uk-container > :last-child { margin-bottom: 0; }

/*
 * Remove padding from nested containers
 */

.uk-container .uk-container {
    padding-left: 0;
    padding-right: 0;
}


/* Size modifier
 ========================================================================== */

.uk-container-small { max-width: @container-small-max-width; }

.uk-container-large { max-width: @container-large-max-width; }

.uk-container-expand { max-width: none; }







/* ========================================================================
   Theme
 ========================================================================== */

[v-cloak] { display: none; }

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }


/* Background Image
 ========================================================================== */

.tm-background {
    padding-bottom: @global-grid-gutter;
    background-attachment: fixed;
}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .tm-background {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .tm-background {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}


/* Header
 ========================================================================== */

.tm-header { margin-bottom: 35px; }

.tm-logo { margin-bottom: 0px; }

/* Phone landscape and smaller */
@media (max-width: @breakpoint-small-max) {

    .tm-header {
        display: block;
        margin-top: 0;
        margin-bottom: 20px;
    }

}
/* Dropdown stack
 ========================================================================== */

/*
 * Reset width if column width is set
 */

.uk-dropdown-navbar.uk-dropdown-stack {
    min-width: 0 !important;
    max-width: none !important;
}

/* Navbar
 ========================================================================== */

 .tm-navbar {
    position: relative;
    background: @navbar-background;
    z-index: 1;
} 

/* Navbar as overlay */
.tm-navbar-overlay:not(.uk-active) {
    position: absolute;
    z-index: 1;
    width: 100%;
}

/* Transparent background */
.tm-navbar-transparent {
    border-bottom-color: transparent;
    background: transparent;
    box-shadow: none;
}

.tm-navbar-transparent .uk-navbar { background: none; }

/*
 * Contrast color
 */

.tm-logo-contrast { display: none; }

.tm-navbar-contrast {

    .uk-navbar { color: @contrast-color; }

    // Nav
    .uk-navbar-nav > li > a { color: fade(@contrast-color, 70%); }

    .uk-navbar-nav > li:hover > a,
    .uk-navbar-nav > li > a:focus,
    .uk-navbar-nav > li.uk-open > a { color: @contrast-color; }

    .uk-navbar-nav > li > a:active { color: @contrast-color; }

    .uk-navbar-nav > li.uk-active > a { color: @contrast-color; }

    // Link
    .uk-navbar-content > a:not([class]) { color: fade(@contrast-color, 70%); }
    .uk-navbar-content > a:not([class]):hover { color: @contrast-color; }

    // Brand
    .uk-navbar-brand { color: fade(@contrast-color, 70%); }

    .uk-navbar-brand:hover,
    .uk-navbar-brand:focus { color: @contrast-color; }

    // Toggle
    .uk-navbar-toggle { color: fade(@contrast-color, 70%); }

    .uk-navbar-toggle:hover,
    .uk-navbar-toggle:focus { color: @contrast-color; }

    .uk-navbar-toggle:after { background: url("../less/uikit/images/navbar-toggle-contrast.svg") 0 0 no-repeat; }

    // Logo
    .tm-logo { display: none; }
    .tm-logo-contrast { display: inline-block; }

}
 

/* Blocks
 ========================================================================== */

/*
 * Footer
 */
/*
.tm-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Lato';
}

/* Tablet and bigger */
/*@media (min-width: @breakpoint-medium) {

    .tm-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

}
 
*/
/* Blog
 ========================================================================== */

.tm-article-teaser { margin: -@article-padding -@article-padding @article-padding -@article-padding; }

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .tm-article-teaser { margin: -@article-large-padding -@article-large-padding @article-large-padding -@article-large-padding; }

}

.tm-container-small {
    max-width: 900px;
    margin: auto;
}


/* User
 ========================================================================== */

.pk-user:extend(.uk-article all) {}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .pk-user { width: 66.666%; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .pk-user { width: 50%; }

}




//
// Navbar
//

/*
.tm-navbar-left,
.tm-navbar-right {
    position: absolute;
    top: 0;
    bottom: 0;
}
*/
// Logo
// Putting the logo above the navbar
.tm-navbar-single .tm-navbar-left { z-index: (@global-z-index + 11); }

// Navbar modifier tm-navbar-centered for centered navbar template
.tm-navbar-centered {

    .tm-navbar-container {
        padding-top: @global-grid-gutter-small;
        padding-bottom: @global-grid-gutter-small;
        min-height: @theme-navbar-centered-container-height;
    }

    // Navbar items
    .uk-navbar-nav > li > a {
        height: @theme-navbar-nav-centered-height;
        line-height: @theme-navbar-nav-centered-height;
    }

    // Navbar contents
    .uk-navbar-content,
    .uk-navbar-brand,
    .uk-navbar-toggle { height: @theme-navbar-nav-centered-height; }

    // Dropdown
   // .uk-dropdown-navbar { margin-top: @theme-navbar-centered-dropdown-navbar-margin;}


}



//
// Navbar
//

/* .tm-navbar { display: inline-block; }
.tm-navbar .uk-dropdown { text-align: left; }

.tm-navbar-left {
  position: absolute;
  top: 0;
  left: @theme-headerbar-padding-horizontal;
  bottom: 0;
}

.tm-navbar-left .uk-navbar-toggle { padding-left: 0; }

.tm-navbar-right {
  position: absolute;
  top: 0;
  right: @theme-headerbar-padding-horizontal;
  bottom: 0;
} */

/* @media (min-width: @breakpoint-xlarge) {

    .tm-navbar-left { left: @theme-headerbar-padding-large-horizontal }
    .tm-navbar-right { right: @theme-headerbar-padding-large-horizontal }

}

@media (min-width: @breakpoint-large) {

    .uk-sticky-placeholder .tm-navbar-default.tm-navbar-container:not(.uk-active) .tm-navbar-left { display: none; }
    .uk-sticky-placeholder .tm-navbar-default.tm-navbar-container:not(.uk-active) .tm-navbar-right { display: none; }

}

.tm-navbar-container {
    padding-top: @global-margin;
    padding-bottom: @global-margin;
}
 */



//
// Dropdown
//

@dropdown-background:                           @global-background;
@dropdown-navbar-background:                    @global-nav-background;//@global-muted-background:;
@dropdown-navbar-divider-border:                @global-border;
@dropdown-shadow:                               0 9px 20px rgba(0,0,0,0.06), 0 2px 3px rgba(0,0,0,0.04);
@dropdown-navbar-shadow:                        @dropdown-shadow;






// Header Social
.tm-navbar .tm-navbar-social {

    position: relative;

    // Button style
    .tm-navbar-button {

        width: @theme-navbar-button-width;
        height: @theme-navbar-button-height;
        line-height: 1;
        background: none;
        border: none;
        outline: 0;
        cursor: pointer;

        // Setting the icon
        &::before {
            font-family: @global-theme-icon-font-family;
            font-size: @theme-navbar-icon-size;
            color: @theme-navbar-icon-color;
            -webkit-transition: @global-transition;
            transition: @global-transition;
        }

        // Hover
        &:hover::before { color: @theme-navbar-icon-hover-color; }

        // Onclick
        &:focus::before,
        &:active::before { color: @theme-navbar-icon-click-color; }

    }

    // Icons
    .tm-navbar-social-button::before { content: @theme-navbar-icon; }

    // Dropdown style
    .tm-navbar-dropdown {
        width: @theme-navbar-dropdown-width;
        margin-left: 0;
        background-color: @theme-navbar-dropdown-background;
    }

}

// Navbar search + more
.tm-navbar .tm-search,
.tm-navbar .tm-login,
.tm-navbar .tm-more {

    // Search button
    .tm-navbar-button {

        width: @theme-navbar-button-width;
        height: @theme-navbar-button-height;
        line-height: 1;
        background: none;
        border: none;
        outline: 0;
        cursor: pointer;

        // Setting the icon
        &::before {
            font-family: @global-theme-icon-font-family;
            font-size: @theme-navbar-icon-size;
            color: @theme-navbar-icon-color;
            -webkit-transition: @global-transition;
            transition: @global-transition;
        }

        // Hover
        &:hover::before { color: @theme-navbar-icon-hover-color; }

        // Onclick
        &:focus::before,
        &:active::before { color: @theme-navbar-icon-click-color; }

    }

    // Icons
    .tm-search-button::before { content: @theme-navbar-icon-search; }
    .tm-more-button::before { content: @theme-navbar-icon-more; }
	.tm-login-button::before { content: @theme-navbar-icon-login; }

    // Dropdown style
    .tm-navbar-dropdown {
        width: @theme-navbar-dropdown-width;
        margin-left: 0;
        background-color: @theme-navbar-dropdown-background;
    }

}

// Hiding the default icon
.tm-navbar .tm-search .uk-search .tm-login::before { display: none; }

// Search field width
//.tm-navbar .tm-search .tm-search-dropdown .uk-search-field,
//.tm-navbar .tm-search .tm-search-dropdown .uk-search-field:focus { width: @theme-navbar-dropdown-width; }



//
// Navbar More position
//

.tm-navbar-more {
    position: relative;
    padding: 0;
}

.tm-navbar-more > a {

    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: -10px;
    border-radius: 50%;
    //font-family: "Avion";
    font-size: 18px;
    line-height: 32px;
    color: @theme-navbar-more-color;
    text-align: center;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;

    &:before { content: "\e606"; }

    &:hover {
        background: @theme-navbar-more-hover-background;
        color: @theme-navbar-more-hover-color;
    }

    &:active {
        background: @theme-navbar-more-active-background;
        color: @theme-navbar-more-active-color;
    }

}

//
// Fixed-Bar
//

// Large screens
@media (min-width: @breakpoint-medium) {

    .tm-fixed-bar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: @theme-fixed-bar-width;
        z-index: 2;
    }
}

//
// Smoothscroll navigation
//

.tm-smoothscroll-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: @theme-smoothscroll-bar-width;
    padding-right: 15px;
    z-index: @global-z-index;
}


// Style modifications
// ==========================================================================

.body-style ();

.body-style () when (@global-style = 'default') {  //modern

    // uk-block-primary
    .uk-block-primary.uk-contrast { color: @global-contrast-color; }

    // Footer tm-brand color
    .tm-footer .tm-brand { color: @global-contrast-color; }

} 


//
// Avanti Grid
//

// Adding a border and gutter
.tm-grid-divider > *:not(:first-child):not(.uk-row-first) { border-left: @grid-divider-border-width solid @theme-grid-divider-border; }

// Border color when uk-contrast is active
.uk-contrast .tm-grid-divider > *:not(:first-child):not(.uk-row-first) { border-left-color: @contrast-base-hr-border; }

.tm-grid-divider:not(:empty) {
    margin-left: -@grid-gutter-horizontal;
    margin-right: -@grid-gutter-horizontal;
}

.tm-grid-divider > * {
    padding-left: @grid-gutter-horizontal;
    padding-right: @grid-gutter-horizontal;
} 


.tm-block-fullwidth.uk-block { max-width: 100%; }

[class*='tm-block-gutter'] { margin: @global-margin; }

[class*='tm-block-gutter'].tm-block-fullwidth {
    margin-left: @global-margin;
    margin-right: @global-margin;
}


//
// Search
//

@dropdown-search-background:                    @dropdown-navbar-background;
@dropdown-search-color:                         @navbar-nav-color;

@nav-search-color:                              @global-color;
@nav-search-active-color:                       @global-primary-color;
@nav-search-divider-border:                     @global-border;
@nav-search-nested-color:                       @navbar-nav-color;
@nav-search-nested-hover-color:                 @navbar-nav-hover-color;

@navbar-search-color:                           @global-color;
@navbar-search-placeholder-color:               @global-muted-color;
@navbar-search-icon-color:                      @global-highlight-color;

@search-dropdown-shadow:                        @dropdown-navbar-shadow;

//@offcanvas-search-shadow:                       @nav-offcanvas-shadow;

//
// Utitlity
//

@utility-font-rendering-webkit:                 subpixel-antialiased;


// Theme variables
// ========================================================================

//
// Navbar
//

@theme-navbar-icon-color:                       @global-highlight-color;// fade(@contrast-color, 70%); 
@theme-navbar-icon-click-color:                 @global-primary-color; 





/* ========================================================================
   Component: Navbar
 ========================================================================== */

/*
 * 1. Create position context to center navbar group
 */

.uk-navbar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* 1 */
    position: relative;
    .hook-navbar;
}


/* Container
 ========================================================================== */

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: @navbar-background;
    .hook-navbar-container;
}

// Color Mode
.uk-navbar-container:not(.uk-navbar-transparent):extend(.uk-light all) when (@navbar-color-mode = light) {}
.uk-navbar-container:not(.uk-navbar-transparent):extend(.uk-dark all) when (@navbar-color-mode = dark) {}


/*
 * Remove pseudo elements created by micro clearfix as precaution (if Container component is used)
 */

.uk-navbar-container > ::before,
.uk-navbar-container > ::after { display: none !important; }


/* Groups
 ========================================================================== */

/*
 * 1. Align navs and items vertically if they have a different height
 * 2. Note: IE 11 requires an extra `div` which affects the center selector
 */

.uk-navbar-left,
.uk-navbar-right,
// 2. [class*='uk-navbar-center'],
.uk-navbar-center,
.uk-navbar-center-left > *,
.uk-navbar-center-right > *, {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* 1 */
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*
 * Horizontal alignment
 * 1. Create position context for centered navbar with sub groups (left/right)
 * 2. Needed for dropdowns because a new position context is created
 *    `z-index` must be smaller than off-canvas
 * 3. Fix text wrapping if the centered section is larger than 50% of the navbar
 * 4. Align sub groups for centered navbar
 */

.uk-navbar-right { margin-left: auto; }

.uk-navbar-center:only-child {
    margin-left: auto;
    margin-right: auto;
    /* 1 */
    position: relative;
}

.uk-navbar-center:not(:only-child) {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /* 2 */
    z-index: @global-z-index - 10;
}

/* 3 */
.uk-navbar-center:not(:only-child) .uk-navbar-nav > li > a,
.uk-navbar-center:not(:only-child) .uk-navbar-item,
.uk-navbar-center:not(:only-child) .uk-navbar-toggle { white-space: nowrap; }

/* 4 */
.uk-navbar-center-left,
.uk-navbar-center-right {
   position: absolute;
   top: 0;
}

.uk-navbar-center-left { right: 100%; }
.uk-navbar-center-right { left: 100%; }

[class*='uk-navbar-center-'] .uk-navbar-nav > li > a,
[class*='uk-navbar-center-'] .uk-navbar-item,
[class*='uk-navbar-center-'] .uk-navbar-toggle { white-space: nowrap; }


//
// Dropdown
//
  
.uk-dropdown { text-align: left; }

//
// Footer
//

.tm-block-footer {
    box-sizing: border-box;
    padding-top: @theme-footer-padding-vertical;
    padding-bottom: @theme-footer-padding-vertical;
}


.tm-footer {
    position: relative;
    min-height: @theme-footer-height;
}

.tm-footer + .tm-footer-meta {
    box-sizing: border-box;
    margin: @global-margin-large 0 0 0;
    border-top: @global-border-width solid @global-border;
}


// Border color
.uk-contrast .tm-footer + .tm-footer-meta { border-top-color: @global-secondary-border; }
.uk-contrast-primary .tm-footer + .tm-footer-meta { border-top-color: @global-primary-border; }

.tm-footer-meta {
    position: relative;
    min-height: @theme-footer-height;
}


@media (min-width: @breakpoint-medium) {

    .tm-footer-left,
    .tm-footer-right {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .tm-footer-left{ left: 0; }
    .tm-footer-right { right: 0; }

}

// Footer on small view ports
@media (max-width: @breakpoint-small-max) {

    .tm-footer { display: block; }

    .tm-footer > div:not(:first-child) { margin-top: @global-grid-gutter; }

    .tm-footer > div {
        display: block;
        width: 100%;
        text-align: center;
    }

    .tm-footer > div > .uk-panel .uk-flex {
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }


}

// Footer Brand
.tm-footer .tm-brand {
    font-size: round(@navbar-brand-font-size / 1.5);
    color: @navbar-brand-color;
    line-height: @global-line-height;
    font-family: @navbar-brand-font-family;
    font-weight: @global-font-weight;
    text-transform: @navbar-brand-text-transform;
    letter-spacing: @navbar-brand-letter-spacing;
}

// When tm-brand is a link
.tm-footer a.tm-brand:hover {
    color: @navbar-brand-hover-color;
    text-decoration: none;
}

// Footer menu
.tm-footer .uk-subnav { margin-bottom: 0; }

// Footer Totop scroller (Warp Option)
.tm-footer .tm-totop-scroller {

    display: inline-block;
    width: @theme-footer-totop-size;
    height: @theme-footer-totop-size;
    line-height: @theme-footer-totop-size;
    text-align: center;
    text-decoration: none;

    // Icon
    &::before {
        content: "\e903";
        color: @theme-footer-totop-color;
        font-family: @global-theme-icon-font-family;
        font-size: 24px;
        -webkit-transition: @global-transition;
        transition: @global-transition;
    }

    // Hover
    &:hover::before { color: @theme-footer-totop-hover-color; }

    // Click
    &:focus::before,
    &:active::before { color: @theme-footer-totop-active-color; }

}

// Footer layout centered
.tm-footer-centered {

    padding-top: @theme-footer-padding-large-vertical;
    padding-bottom: @theme-footer-padding-large-vertical;

    // Adding more space to child elements
    .tm-footer > *:not(:first-child) { margin-top: @global-margin-small; }

    // Default uk-navbar-brand font size
    .tm-footer .tm-brand { font-size: @navbar-brand-font-size; }

}

// Footer fixed (Warp Option)
.tm-footer-fixed {

    // Setting the height as padding
    padding-bottom: @theme-footer-fixed-height;

    // Adding z-index to parent elements
    .tm-header-container,
    [class*='tm-top'],
    .tm-main,
    [class*='tm-bottom'] {
        position: relative;
        z-index: 1;
    }

    // Fixed position
    .tm-block-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        height: @theme-footer-fixed-height;
    }

} 

// uk-contrast
.uk-contrast .tm-footer-meta .tm-totop-scroller::before { color: @global-secondary-muted-color; }
.uk-contrast .tm-footer-meta .tm-totop-scroller:hover::before { color: @global-secondary-highlight-color; }
.uk-contrast .tm-footer-meta .tm-totop-scroller:focus::before,
.uk-contrast .tm-footer-meta .tm-totop-scroller:active::before { color: @global-secondary-highlight-color; }

// uk-contrast-primary
.uk-contrast-primary .tm-footer-meta .tm-totop-scroller::before { color: @global-primary-muted-color; }
.uk-contrast-primary .tm-footer-meta .tm-totop-scroller:hover::before { color: @global-primary-highlight-color; }
.uk-contrast-primary .tm-footer-meta .tm-totop-scroller:focus::before,
.uk-contrast-primary .tm-footer-meta .tm-totop-scroller:active::before { color: @global-primary-highlight-color; }

// Miscellaneous
// ========================================================================

.hook-navbar-misc() {

    /*
     * Navbar
     */

    .uk-navbar-container > .uk-container .uk-navbar-left {
        margin-left: -@navbar-nav-item-padding-horizontal;
        margin-right: -@navbar-nav-item-padding-horizontal;
    }
    .uk-navbar-container > .uk-container .uk-navbar-right { margin-right: -@navbar-nav-item-padding-horizontal; }
	    /*
     * Grid Divider
     */

    .uk-navbar-dropdown-grid > * { position: relative; }

    /* .uk-navbar-dropdown-grid > :not(.uk-first-column)::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: (@navbar-dropdown-grid-gutter-horizontal / 2);
        border-left: @navbar-dropdown-grid-divider-border-width solid @navbar-dropdown-grid-divider-border;
    }
 */
    /* Vertical */
  /*  .uk-navbar-dropdown-grid.uk-grid-stack > .uk-grid-margin::before {
        content: "";
        position: absolute;
        top: -(@navbar-dropdown-grid-gutter-vertical / 2);
        left: @navbar-dropdown-grid-gutter-horizontal;
        right: 0;
        border-top: @navbar-dropdown-grid-divider-border-width solid @navbar-dropdown-grid-divider-border;
    }
*/
}

// Theme Additions
// ==========================================================================

//
// Font modifiers
//

.tm-font {
    font-family: @global-font-family;
    font-weight: @global-font-weight;
    text-transform: @global-text-transform;
    letter-spacing: @global-letter-spacing;
}

.tm-font-alt-1 {
    font-family: @global-alt-1-font-family;
    font-weight: @global-alt-1-font-weight;
    text-transform: @global-alt-1-text-transform;
    letter-spacing: @global-alt-1-letter-spacing;
}

.tm-font-alt-2 {
    font-family: @global-alt-2-font-family;
    font-weight: @global-alt-2-font-weight;
    text-transform: @global-alt-2-text-transform;
    letter-spacing: @global-alt-2-letter-spacing;
}

//
// Horizontal address
//

.tm-address-horizontal .tm-label {
    font-size: @theme-address-horizontal-label-font-size;
    color: @theme-address-horizontal-label-color;
}

// Large screens
@media (min-width: @breakpoint-xlarge) {

    .tm-address-horizontal .tm-label {
        width: @theme-address-horizontal-label-width;
        float: left;
        clear: both;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tm-address-horizontal .tm-data { margin-left: @theme-address-horizontal-data-margin; }

}

// uk-contrast color
.uk-contrast .tm-address-horizontal .tm-label { color: @global-secondary-highlight-color; }

// uk-contrast-primary color
.uk-contrast-primary .tm-address-horizontal .tm-label { color: @global-primary-highlight-color; }


// Hooks
// ========================================================================

.hook-container-misc;
.hook-container-misc() {}
.hook-navbar() {}
.hook-navbar-misc;
.hook-navbar-container() {}
.hook-navbar-nav-item() {} 

// Style modifications
// ==========================================================================

.body-style ();

// Colorful Style
.body-style () when (@global-style = 'colorful') {

    // Modifying the color of avanti slideshow overlay
    .tm-header-container .tm-slideshow-avanti .uk-overlay-panel { color: @global-contrast-color; }

    // Adding a texture
    body,
    .uk-block-primary,
    .uk-block-secondary,
    .uk-block-muted,
    .uk-navbar,
    .uk-dropdown,
    .uk-panel-box-primary,
    .uk-panel-box-secondary,
    .uk-offcanvas-bar,
    .tm-navbar-dropdown {
        background-image: url('@{global-image-path}/block/texture_grain.png');
        background-repeat: repeat;
    }

} 

// Green
.body-style () when (@global-style = 'green') {

    .uk-panel-box-primary:extend(.uk-contrast all){};
    .uk-panel-box-secondary:extend(.uk-contrast all){};

}
